@media(max-width:838px)  {
   
    .header {
        flex-direction: column;  

    }
    .header .logo {
        margin-bottom: 100px;
        
    }

    .menu{
        flex-direction: column;
    }
    .header .logo h2 {
        font-size: 40px;
       font-weight: 800;
    }
    .header .menu{
        font-size: 40px;
        gap: 40px;
        font-weight: 400;
    }
    .header .menu .cadastre{
        font-size: 18px;
        font-weight: 300;
    }
    
}