html{
    font-family: 'Public Sans', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.header .logo h2{
    font-size: 20px;
    font-weight: 800;
}    
        

.header .menu{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.menu li a{
    padding: 15px;
    margin: 5px;
           
}

.menu li a:hover{
    background-color: #5BC241;
    color: white;
}
.menu .cadastre{
    background-color: #5BC241;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: white;
    font-weight: 300;
}